*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    pointer-events: auto;
    /* background-color: red; */
}

.slider-container {
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.pagination-dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.dot {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    
    background-color: #333333;
    opacity: 0.7 !important;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.dot.active {
    background-color: #333333;
    opacity: 1 !important;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}


.swiper-pagination-bullet {
    background-color: #333333 !important;
    opacity: 0.6 !important;
    width: 20px !important;
    height: 20px !important;
}
.swiper-pagination-bullet-active{
    background-color: #333333 !important;
    opacity: 1 !important;
}



  